Django>=3.1,<4.0
psycopg2-binary==2.8.6
djangorestframework
django-cors-headers
django-crispy-forms
requests
djoser
djangorestframework_simplejwt
schedule
python-decouple
redis
celery
pyTelegramBotAPI
markdown
pytest==7.1.1
pytest-django==4.5.2
django-filter
pyvirtualdisplay
selenium==4.2.0
BeautifulSoup4
